@model IEnumerable<websolutionsproject.models.Reviews.GetReviewModel>

@{
    ViewData["Title"] = Localizer["All reviews"];
    ClaimsPrincipal user = HttpContextAccessor.HttpContext.User;
}

<h1>@Localizer["All reviews"]</h1>

@if (user.IsInRole("Guest"))
{
    <p>
        <a class="btn btn-primary" asp-action="Create">@Localizer["Create review"]</a>
    </p>
}

<ul class="thumbnails">
    @foreach (GetReviewModel review in Model)
    {
        <li class="span4">
            <div class="thumbnail">
                <h3><a href="@Url.Action("Details", "Movies", new { id = review.MovieId })">@review.Movie.Name</a></h3> 
                <h4>@Localizer["By"] <a href="@Url.Action("Details", "Users", new { id = review.UserId })">@Html.DisplayFor(modelItem => review.User.UserName)</a></h4>
                <div class="rating">
                    @for (int i = 0; i < review.Rating; i++)
                    {
                        <span style="color: orange;" class="fa fa-star checked"></span>
                    }
                    @for (int i = 0; i < 10 - review.Rating; i++)
                    {
                        <span class="fa fa-star"></span>
                    }
                </div>
                <p class="thumbnailDescription">@Html.DisplayFor(modelItem => review.Description)</p>
                <p class="text-sm-left">@Localizer["Reviewed on"] @review.Date.ToString("dd/MM/yyyy")</p>

                @if (user.IsInRole("Administrator"))
                {
                    <a class="btn btn-danger" href="@Url.Action("Delete", "Reviews", new { id = review.Id })">@Localizer["Delete"]</a>
                    <a class="btn btn-info" href="@Url.Action("Edit", "Reviews", new { id = review.Id })">@Localizer["Edit"]</a>
                    <a class="btn btn-success" href="@Url.Action("Details", "Reviews", new { id = review.Id })">Details</a>
                }
                else if (user.IsInRole("Editor"))
                {
                    <a class="btn btn-info" href="@Url.Action("Edit", "Reviews", new { id = review.Id })">@Localizer["Edit"]</a>
                    <a class="btn btn-success" href="@Url.Action("Details", "Reviews", new { id = review.Id })">Details</a>
                }
                else if (user.IsInRole("Guest"))
                {
                    <a class="btn btn-success" href="@Url.Action("Details", "Reviews", new { id = review.Id })">Details</a>
                }
            </div>
        </li>
    }
</ul>
