@model websolutionsproject.models.Movies.PostMovieModel

@{
    ViewData["Title"] = Localizer["Create movie"];
}

<h1>@Localizer["Create movie"]</h1>

<div class="border-bottom mb-2">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Year" class="control-label"></label>
            <input type="number" asp-for="Year" class="form-control" />
            <span asp-validation-for="Year" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="OverallRating" class="control-label"></label>
            <input type="number" value="0" disabled asp-for="OverallRating" class="form-control" />
            <span asp-validation-for="OverallRating" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Duration" class="control-label"></label>
            <input asp-for="Duration" type="number" min="0" max="500" class="form-control" />
            <span asp-validation-for="Duration" class="text-danger"></span>
        </div>
        @if (ViewBag.Directors != null)
        {
            <div class="form-group">
                <label asp-for="DirectorId" class="control-label"></label>
                <select asp-for="DirectorId" class="form-select">
                    @foreach (var director in ViewBag.Directors)
                    {
                        <option value="@director.Id">@director.FirstName @director.LastName</option>
                    }
                </select>
                <span asp-validation-for="DirectorId" class="text-danger"></span>
            </div>
        }

        @if (ViewBag.Genres != null)
        {
            <div class="form-group">
                <label asp-for="GenreId" class="control-label"></label>
                <select asp-for="GenreId" class="form-select">
                    @foreach (var genre in ViewBag.Genres)
                    {
                        <option value="@genre.Id">@genre.Name</option>
                    }
                </select>
                <span asp-validation-for="GenreId" class="text-danger"></span>
            </div>
        }

        <div class="form-group">
            <label asp-for="ActorIds" class="control-label"></label>
            <select class="multiselect" asp-for="ActorIds" multiple>
                @await Component.InvokeAsync("ActorsSelect")
            </select>
        </div>

        <div class="form-group">
            <input type="submit" value="@Localizer["Create"]" class="btn btn-primary" />
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">@Localizer["Back to movies"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
