@model IEnumerable<websolutionsproject.models.Movies.GetMovieModel>

@{
    ViewData["Title"] = Localizer["All movies"];

    ClaimsPrincipal user = HttpContextAccessor.HttpContext.User;
    string id = HttpContextAccessor.HttpContext.Session.GetString("_Id");
    string voornaam = HttpContextAccessor.HttpContext.Session.GetString("_FirstName");

}

<h1>@Localizer["All movies"]</h1>

@if (user.IsInRole("Editor"))
{
    <a class="m-2 btn btn-primary" asp-action="Create">@Localizer["Create movie"]</a>
    
}

<ul class="thumbnails">
    @foreach (GetMovieModel movie in Model)
    {
        <li class="span4">
            <div class="thumbnail">
                <h3><a href="@Url.Action("Details", "Movies", new { id = movie.Id })">@Html.DisplayFor(modelItem => movie.Name)</a></h3> <h4>@Html.DisplayFor(modelItem => movie.Year)</h4>
                <h5>@Localizer["By"] <a href="@Url.Action("Details", "Directors", new { id = movie.DirectorId })">@Html.DisplayFor(modelItem => movie.Director.FirstName) @Html.DisplayFor(modelItem => movie.Director.LastName)</a></h5>
                <div class="rating">
                    @Localizer["Average rating"]
                    <div class="stars">
                        @for (int i = 0; i < movie.OverallRating; i++)
                        {
                            <span style="color: orange;" class="fa fa-star checked"></span>
                        }
                        @for (int i = 0; i < 10 - movie.OverallRating; i++)
                        {
                            <span class="fa fa-star"></span>
                        }
                    </div>
                </div>
                <p class="thumbnailDescription">@Html.DisplayFor(modelItem => movie.Description)</p>


                @if (user.IsInRole("Administrator"))
                {
                    <a class="btn btn-danger" href="@Url.Action("Delete", "Movies", new { id = movie.Id })">@Localizer["Delete"]</a>
                    <a class="btn btn-info" href="@Url.Action("Edit", "Movies", new { id = movie.Id })">@Localizer["Edit"]</a>
                    <a class="btn btn-success" href="@Url.Action("Details", "Movies", new { id = movie.Id })">@Localizer["Details"]</a>
                }
                else if (user.IsInRole("Editor"))
                {
                    <a class="btn btn-info" href="@Url.Action("Edit", "Movies", new { id = movie.Id })">@Localizer["Edit"]</a>
                    <a class="btn btn-success" href="@Url.Action("Details", "Movies", new { id = movie.Id })">@Localizer["Details"]</a>
                }
                else if (user.IsInRole("Guest"))
                {
                    <a class="btn btn-success" href="@Url.Action("Details", "Movies", new { id = movie.Id })">@Localizer["Details"]</a>
                }
            </div>
        </li>
    }
</ul>